.footer {
    height: #{$gutter / 2 + em};
    width: calc(100% - #{$gutter + em});
    position: fixed;
    bottom: 0;
    margin-left: #{$gutter / 2 + em};
    z-index: 10000000;
    overflow: visible;
    &__newsletter,
    &__legal {
        height: #{$gutter / 1.5 + em};
        line-height: #{$gutter / 1.5 + em};
        font-size: .75em;
        text-align: left;
        color: $grey;
        float: left;
    }
    &__newsletter {
        cursor: pointer;
        position: relative;
        float: right;
        overflow: visible;
        &:hover {
            .newsletterBox {
                opacity: 1;
                margin-top: 0;
            }
        }
    }
    &__social {
        float: right;
        &__icon {
            display: block;
            cursor: pointer;
            height: 3.3em;
            width: 2.6em;
            float: left;
            background-image: url('../images/SVG/Facebook.png');
            background-image: url('../images/SVG/Facebook.svg'), linear-gradient(transparent, transparent);
            background-size: auto 25%;
            background-repeat: no-repeat;
            background-position: center right;
            &--instagram {
                background-image: url('../images/SVG/Instagram.png');
                background-image: url('../images/SVG/Instagram.svg'), linear-gradient(transparent, transparent);
            }
            &--linkedin {
                background-image: url('../images/SVG/Linkedin.png');
                background-image: url('../images/SVG/Linkedin.svg'), linear-gradient(transparent, transparent);
            }
            &--twitter {
                background-image: url('../images/SVG/Twitter.png');
                background-image: url('../images/SVG/Twitter.svg'), linear-gradient(transparent, transparent);
            }
        }
    }
}

.newsletterBox {
    opacity: 0;
    position: absolute;
    top: -21em;
    background: white;
    width: 20em;
    margin-left: -6.75em;
    margin-top:-2em;
    height: 20em;
    padding: 1.5em 1em;
    transition: .5s all;
    &__p {
        text-align: center;
        font-size: 1em;
        line-height: 1.75em;
    }
    &__input {
        margin-top: 1.75em;
        label {
            display: block;
            font-size: 1em;
            text-align: left;
            line-height: 1em;
            margin: 0;
        }
        input {
            display: block;
            width: 100%;
            margin: 0;
            top: 0;
            margin-top: .5em;
            line-height: 2em;
            padding: 0 .5em;
        }
        &--half {
            width: 45%;
            float: left;
            &:nth-child(even) {
                margin-left: 10%;
            }
        }
    }
    &__subscribe {
        border: 0;
        position: relative;
        background: #fff;
        display: block;
        width: 100%;
        height: 2.75em;
        font-size: 1em;
        line-height: 2.75em;
        top: 1.25em;
        text-align: center;
        color:$grey;
        font-family: $futuraM;
    }
}
