.grid__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

}


.masthead {
    overflow: hidden;
    width: calc(100%);
    display: flex;
    align-items: center;
    .brick {
        &__h2 {
            width: 100%;
            display: block;
            text-transform: uppercase;
            font: $futuraLight 2em $futura;
            letter-spacing: .1em;
            margin-bottom: .5em;
            margin-top: .75em;
        }
        &__p {
            width: 41%;
            margin: 0 auto;
            font: $futuraMedium .8em $futura;
            line-height: 1.75em;
        }
    }
}

.grid--item {
    // Height controlled by JS.
    width: 25%;
    &--tall {}
    &--wide {
        width: 50%;
    }
    &--wideTallThird {
        width: 40%;
        height:100%;
    }
    &--wideShortThird {
        width: 40%;
    }
    &--tinyShortThird {
        width: 20%;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    &--style1 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        &__h3 {
            text-align: left;
            display: block;
            text-transform: uppercase;
            font: 2.85em $bebas;
            margin-top: auto;
            color: #fff;
            padding: 0 0.3em;
        }
        &__h4 {
            text-align: left;
            display: block;
            text-transform: uppercase;
            font: $futuraLight .85em $futura;
            margin: 0;
            color: #fff;
            padding: 0 1em 1em 1em;
        }
    }
    &--blog {
        width: calc(100% / 3);
        padding: 2em 0;
        height:auto !important;
    }
}

.is-showing-items .grid-item {
  opacity: 1;
}