.search {
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    display: none;
    width: calc(100% - #{$gutter + em});
    height: calc(100% - #{$gutter + em});
    top: #{$gutter / 2 + em};
    left: #{$gutter / 2 + em};
    @include desktop {
    	font-size: 12px;
    }
    &__close {
        background-image: url(../images/PNG/Collapse_Large.png);
        background-image: url(../images/SVG/Collapse_Large.svg), linear-gradient(transparent, transparent);
        background-repeat: no-repeat;
        background-size: contain;
        height: .25em;
        width: .25em;
        position: absolute;
        right: 0;
        bottom: 0.20em;
    }
    &--open {
        display: flex;
        animation: fade-in 1s;
    }
    &__wrap {
        width: 63%;
        display: block;
        margin: 0 auto;
        height: 30em;
    }
    &__boxes {
        display: flex;
        animation: fade-in-top 1s;
        &__box {
            margin-right: 2em;
            &__image {
                height: 9.5em;
                width: 14em;
                background: #fff;
                border: 1px solid $grey;
            }
            &__title {
                display: block;
                margin-top: 1em;
                line-height: 1em;
                font-family: $futuraL;
            }
            &__subtitle {
                display: block;
                margin-top: .5em;
                line-height: 1em;
                font-size: .75em;
                text-transform: uppercase;
                color: $blue;
                font-family: $futuraL;
            }
        }
    }
    &__term {
        position: relative;
        font-family: $futuraM;
        font-size: 8.5em;
        line-height: 1em;
        width: 97%;
        text-align: left;
        margin-left: 0em;
        padding-left: .1em;
        margin-top: .5em;
        border-bottom: 1px solid $grey;
    }
    &__results {
        &__text {
            text-align: left;
            font-family: $futuraM;
            text-transform: uppercase;
            line-height: 4.5em;
            font-size: .8em;
            margin-left: .5em;
        }
    }
}
