.bullet {
    cursor: pointer;
    background: none;
    width: #{$gutter / 4 + em};
    float: right;
    height: .75em;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    position: relative;
    overflow: visible;
    &__one {
        position: absolute;
        top: 0;
        font-size: 16px;
        display: block;
        border-radius: .25em;
        border: 1px solid $mist;
        line-height: 20px;
        width: .5em;
        float: none;
        height: .5em;
        left: 50%;
        margin: 0;
        margin-left: -.25em;
        margin-top: .5em;
        transition: width .1s, height .1s, margin .1s, border-radius .1s;
    }
    &__two {
        height: 1px;
        width: 0;
        float: right;
        margin-right: .85em;
        transition: width .5s;
        top: 0em;
        margin: 0;
    }
    &__name {
        display: block;
        position: absolute;
        font-size: .3em;
        font-weight: lighter;
        color: #7F7F7F;
        line-height: 3.1em;
        text-transform: uppercase;
        width: 6em;
        text-align: right;
        transition: all .5s;
        top: 0;
        right: 0;
        opacity: 0;
    }
    &.active {
        .bullet__one {
            border: 1px solid #222;
        }
    }
    &:hover {
        .bullet__one {
            position: relative;
            opacity: 0;
        }
        .bullet__two {
            display: block;
            position: relative;
            float: right;
            border-bottom: 1px solid #222;
            height: 1px;
            width: .9em;
            right: .85em;
            top: -.1em;
        }
        .bullet__name {
            right: 6em;
            opacity: 1;
        }
    }
}
