.footer {
    height: #{$gutter / 2 + em};
    width: calc(100% - #{$gutter + em});
    position: fixed;
    bottom: 0;
    margin-left: #{$gutter / 2 + em};
    z-index: 10000000;
    overflow: visible;
    @include phone {
        display: none;
    }
    &__newsletter,
    &__legal {
        font: $futuraLight .85em $futura;
        height: #{$gutter / 1.75 + em};
        line-height: #{$gutter / 1.75 + em};
        text-align: left;
        letter-spacing: .05em;
        color: $grey;
        float: left;
        a:hover {
            color: #231f20;
        }
    }
    &__newsletter {
        cursor: pointer;
        position: relative;
        float: right;
        overflow: hidden;
        &:hover {
            color: #231f20 !important;
            overflow: visible;
            .newsletterBox {
                opacity: 1;
                margin-top: 0;
            }
        }
    }
    &__social {
        float: right;
        &__icon {
            display: block;
            cursor: pointer;
            height: 3.3em;
            width: 2.6em;
            float: left;
            background-image: url('../images/SVG/Facebook.png');
            background-image: url('../images/SVG/Facebook.svg'), linear-gradient(transparent, transparent);
            background-size: auto 25%;
            background-repeat: no-repeat;
            background-position: center right;
            &:hover {
                background-image: url('../images/SVG/Facebook Hover.png');
                background-image: url('../images/SVG/Facebook Hover.svg'), linear-gradient(transparent, transparent);
            }
            &--instagram {
                background-image: url('../images/SVG/Instagram.png');
                background-image: url('../images/SVG/Instagram.svg'), linear-gradient(transparent, transparent);
                &:hover {
                    background-image: url('../images/SVG/Instagram Hover.png');
                    background-image: url('../images/SVG/Instagram Hover.svg'), linear-gradient(transparent, transparent);
                }
            }
            &--linkedin {
                background-image: url('../images/SVG/Linkedin.png');
                background-image: url('../images/SVG/Linkedin.svg'), linear-gradient(transparent, transparent);
                &:hover {
                    background-image: url('../images/SVG/Linkedin Hover.png');
                    background-image: url('../images/SVG/Linkedin Hover.svg'), linear-gradient(transparent, transparent);
                }
            }
            &--twitter {
                background-image: url('../images/SVG/Twitter.png');
                background-image: url('../images/SVG/Twitter.svg'), linear-gradient(transparent, transparent);
                &:hover {
                    background-image: url('../images/SVG/Twitter Hover.png');
                    background-image: url('../images/SVG/Twitter Hover.svg'), linear-gradient(transparent, transparent);
                }
            }
        }
    }
}

.newsletterBox {
    opacity: 0;
    position: absolute;
    top: -23em;
    width: 22em;
    margin-left: -8.75em;
    margin-top: -2em;
    height: 26em;
    padding-bottom: 4em;
    transition: .5s all;
    font: $futuraLight 1em $futura;
    color: #231f20;
    &__wrap {
        background: white;
        padding: 1.5em 2em;
        height: 21.5em;
    }
    &__p {
        text-align: center;
        font-size: .85em;
        line-height: 1.5em;
        margin-bottom: 4.25em;
    }
    &__input {
        margin-bottom: 1em;
        label {
            display: block;
            font-size: .9em;
            line-height: .9em;
            text-align: left;
            margin: 0;
        }
        input {
            display: block;
            width: 100%;
            margin: 0;
            top: 0;
            margin-top: .5em;
            line-height: 2em;
            padding: 0 .5em;
            border: 1px solid #EFEFEF;
        }
        &--half {
            width: 47.5%;
            float: left;
            &:nth-child(even) {
                margin-left: 5%;
            }
        }
    }
    &__subscribe {
        border: 0;
        position: relative;
        background: #fff;
        display: block;
        width: 100%;
        height: 2.5em;
        font: $futuraLight 1.15em/2.75em $futura;
        top: 1.55em;
        text-align: center;
        color: #231f20;
        border-top: 1px solid #EFEFEF;
        letter-spacing: .1em;
    }
}

.newsletterPopup {

    display: none;

    .close {
        display: block;
        background-image: url(../images/PNG/Collapse_Large.png);
        background-image: url(../images/SVG/Collapse_Large.svg), -webkit-linear-gradient(transparent, transparent);
        background-image: url(../images/SVG/Collapse_Large.svg), linear-gradient(transparent, transparent);
        background-repeat: no-repeat;
        background-size: contain;
        height: 1.5em;
        width: 1.5em;
        position: absolute;
        right: 0;
        top: -2em;
    }
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
    .newsletterBox {
        position: relative;
        opacity: 1;
        left: 50%;
        top: 50%;
        width: 90%;
        height:21.5em;
        margin-left: -45%;
        margin-top: -10.75em;
        padding: 0;
    }
}
