.drawer-overlay {
    background-color: RGBA(255, 255, 255, .5);
}

.drawer--right .drawer-nav {
    right: -23em;
}

.drawer-nav {
    z-index: 1000000000;
    height: calc(100% - #{$gutter+em});
    margin-top: #{$gutter / 2 + em};
    width: 22.5em;
	ul {
		padding-top:1em;
		li {
			height:5.5em;
			line-height:5.5em;
			display: block;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 2px;
			a {
				font: $futuraLight 1em $futura;
				color:$grey;

			}
		}
	}
}
