.search {
    position: fixed;
    z-index: 999999999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    display: none;
    top: 0;
    left: 0;
    background:rgba(187, 189, 191,.7);
    opacity: 0;
    transition: 1s all;

    &__close {
        background-image: url(../images/PNG/Collapse_Large.png);
        background-image: url(../images/SVG/Collapse_Large.svg), linear-gradient(transparent, transparent);
        background-repeat: no-repeat;
        background-size: contain;
        height: .25em;
        width: .25em;
        position: absolute;
        right: 0;
        bottom: 0.20em;
    }
    &--open {
        display: flex;
        opacity: 1;
    }
    &__wrap {
        width: 63%;
        display: block;
        margin: 0 auto;
        height: 30em;
    }
    &__boxes {
        display: flex;
        animation: fade-in-top 1s;
        &__box {
            margin-right: 2em;
            &__image {
                height: 9.5em;
                width: 14em;
                background: #fff;
                border: 1px solid $grey;
            }
            &__title {
                display: block;
                margin-top: 1em;
                line-height: 1em;
                font-weight: $futuraLight;
            }
            &__subtitle {
                display: block;
                margin-top: .5em;
                line-height: 1em;
                text-transform: uppercase;
                color: $blue;
                font: $futuraLight .75em $futura;
            }
        }
    }
    &__term {
        position: relative;
        font: $futuraMedium 8.5em/1em $futura;
        width: 97%;
        text-align: left;
        margin-left: 0em;
        padding-left: .1em;
        margin-top: .5em;
        border-bottom: 1px solid $grey;
    }
    &__results {
        &__text {
            text-align: left;
            font: $futuraMedium .8em/4.5em $futura;
            text-transform: uppercase;
            margin-left: .5em;
        }
    }
}
