.desktop {
    .grid__wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        background: #fff;
    }
}

.grid--item:nth-child(odd):not(.blogItem, .grid--item--style2):hover {
    background-color: $blue;
}

.grid--item:nth-child(even):not(.blogItem, .grid--item--style2):hover {
    background-color: $pink;
}

.masthead + .grid {
    @include phone {
        margin-top: 1em;
    }
}

.masthead {
    overflow: hidden;
    width: calc(100%);
    display: flex;
    align-items: center;
    @include phone {
        background: white;
        height: auto !important;
        padding: 2em 0;
    }
    .brick {
        width: 100%;
        &__h2 {
            width: 100%;
            display: block;
            text-transform: uppercase;
            font: $futuraLight 2em $futura;
            letter-spacing: .1em;
            margin-bottom: .5em;
            /*margin-top: .75em;*/
        }
        &__p {
            width: 50%;
            margin: 0 auto;
            font: $futuraLight 0.9em $futura;
            line-height: 1.75em;
            @include tablet {
                width: 70%;
            }
            @include phone {
                width: 90%;
            }
        }
    }
}

.grid--item {
    // Height controlled by JS.
    &:hover {
        .grid--button {
            opacity: 1;
        }
    }
    width: 25%;
    background: #ccc;
    @include tablet {
        font-size: 12px;
    }
    @include phone {
        width: 50%;
        font-size: 14px;
    }
    &--tall {}
    &--wide {
        width: 50%;
    }
    &--wideTallThird {
        width: 35%;
        height: 100%;
    }
    &--wideShortThird {
        width: 35%;
    }
    &--tinyShortThird {
        width: 25%;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    &__overlay {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        overflow-Y: scroll;
        text-align: left;
        display: none;
        &--scroll {
            display: inline-block;
            font: $futuraLight 1em $futura;
            overflow: scroll;
            background: #fff;
            p {
                padding: 1em;
                margin-bottom: 1em;
            }
        }
        &--close {
            position: absolute;
            display: block;
            background: transparent none no-repeat center center;
            background-image: url('../images/SVG/Collapse_Large.png');
            background-image: url('../images/SVG/Collapse_Large.svg'), linear-gradient(transparent, transparent);
            background-size: contain;
            width: 1.5em;
            height: 1.5em;
            top: 1em;
            right: 1em;
        }
    }
    &--style1 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &__h3 {
            text-align: left;
            display: block;
            text-transform: uppercase;
            font: 2.85em $bebas;
            margin-top: auto;
            color: #fff;
            padding: 0 0.3em;
        }
        &__h4 {
            text-align: left;
            display: block;
            text-transform: uppercase;
            font: $futuraLight .85em $futura;
            margin: 0;
            color: #fff;
            padding: 0 1em 1em 1em;
        }
    }
    &--style2 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: calc(100% / 3);
        @include phone {
            margin: 2em 0 0 0;
            width: 90% !important;
            left: 5% !important;
        }
        .grid--item__wrap {
            border: 1px solid #f3f3f3;
            width: calc(100% - 1em);
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin-left: .5em;
            &ping {
                align-items: center;
                align-content: center;
                @include phone {
                    margin: 0em;
                }
            }
        }
        &:nth-child(3n+2) {
            .grid--item__wrap {
                background: #f2f2f2;
            }
        }
        &__h3 {
            text-align: center;
            display: block;
            text-transform: uppercase;
            font: 2.85em $bebas;
            color: #231f20;
            padding: 0 0.3em;
            @include tablet {
                font-size: 2em;
            }
        }
        &__h4 {
            text-align: center;
            width: 80%;
            margin: 1em auto 0 auto;
            display: block;
            text-transform: none;
            font: $futuraLight .85em/1.35em $futura;
            color: $grey;
            padding: 0 1em 1em 1em;
        }
    }
    &--style3 {
        .grid--item__wrap {
            text-align: center;
            justify-content: center;
            align-items: center;
            align-content: center;
            display: flex;
        }
        &__h3 {
            text-align: center;
            display: block;
            text-transform: uppercase;
            font: 2.85em $bebas;
            margin-top: 0;
            color: #fff;
            padding: 0 0.3em;
        }
    }
    &--blog {
        width: calc(100% / 3);
        padding: 0 1em;
        height: auto !important;
        @include tablet {
            width: calc(100% / 2) !important;
            display: block;
            position: relative;
        }
        @include phone {
            width: 94% !important;
            display: block;
            position: relative;
            margin-left: 3%;
        }
    }
    &.clicked {
        z-index: 100000;
        overflow: visible;
        .grid--item__overlay {
            display: block;
        }
    }
    &:nth-child(-n+4) {
        .grid--item__overlay {
            .grid--item__overlay--scroll {
                animation: .5s movefromthetop;
            }
            position: absolute;
            width: 100%;
            z-index: 0;
            height:100%;
            opacity: 1;
            top: 100%;
        }
    }
    &.clicked:nth-child(n+5) {
        .grid--item__overlay {
            .grid--item__overlay--scroll {
                animation: .5s movetothetop;
            }
            position: absolute;
            width: 100%;
            top: -100%;
            opacity: 1;
            z-index: 999;
            height:100%;
        }
    }
    &.clicked:nth-child(4) {
        .grid--item__overlay {
            .grid--item__overlay--scroll {
                animation: .5s movefromthetop;
            }
            position: absolute;
            width: 100%;
            z-index: 0;
            opacity: 1;
            margin-left: -100%;
            top: 100%;
            height:100%;
        }
    }
    &.clicked:nth-child(8) {
        .grid--item__overlay {
            .grid--item__overlay--scroll {
                animation: .5s movetothetop;
            }
            position: absolute;
            width: 100%;
            z-index: 0;
            opacity: 1;
            margin-left: -100%;
            top: -100%;
            height:100%;
        }
    }
}

.mobile {
    .grid__wrap {
        @include phone {
            width: 100%;
            height: 100%;
        }
    }
    .grid--item.clicked {
        .grid--item__overlay {
            animation: .5s movefromthetop;
            position: absolute;
            width: 100%;
            z-index: 0;
            opacity: 1;
            height: 100%;
            left: 0%;
            margin-left: 0;
            top: 100%;
        }
    }
    .grid--item.clicked:nth-child(even) {
        .grid--item__overlay {
            left: -100%;
            margin-left: 0%;
        }
    }
}

.grid--button {
    opacity: 0;
    width: 11em;
    position: absolute;
    display: inline-block;
    height: 2.5em;
    padding: 0 1.7em;
    letter-spacing: 1px;
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition: .5s all;
    transition: .5s all;
    text-transform: normal;
    top: 50%;
    left: 50%;
    margin-left: -5.5em;
    margin-top: -1.5em;
    line-height: 2.5em;
    font: $proximaRegular 1em/2.5em $proxima;
    div {
        transition: .5s all;
        display: block;
        content: " ";
        width: 5em;
        position: absolute;
        padding-left: 1em;
        left: -1.25em;
        line-height: 1.4em;
        height: 2.5em;
        background-image: url('../images/SVG/BlueArrow.png');
        background-image: url('../images/SVG/BlueArrow.svg'), linear-gradient(transparent, transparent);
        background-position: 145% center;
        background-size: auto 30%;
        background-repeat: no-repeat;
    }
    &:hover {
        padding: 0 0.85em 0 2.55em;
        div {
            background-position: 130% center;
        }
    }
}
