.scrollArea {
    overflow: hidden;
    overflow-y: scroll;
    background:white;
    &--viewport {
        overflow: visible;
        padding-right: 0em;
        clear: both;
        .grid__wrap {
            position: relative;
            height: auto !important;
        }
    }
    &--none {
        overflow: hidden;
    }
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: .25em;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
}
