.grid__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background: #fff;
}

.masthead {
    overflow: hidden;
    width: calc(100%);
    display: flex;
    align-items: center;
    .brick {
        width: 100%;
        &__h2 {
            width: 100%;
            display: block;
            text-transform: uppercase;
            font: $futuraLight 2em $futura;
            letter-spacing: .1em;
            margin-bottom: .5em;
            /*margin-top: .75em;*/
        }
        &__p {
            width: 41%;
            margin: 0 auto;
            font: $futuraMedium .8em $futura;
            line-height: 1.75em;
        }
    }
}

.grid--item {
    // Height controlled by JS.
    width: 25%;
    &--tall {}
    &--wide {
        width: 50%;
    }
    &--wideTallThird {
        width: 40%;
        height: 100%;
    }
    &--wideShortThird {
        width: 40%;
    }
    &--tinyShortThird {
        width: 20%;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    &--style1 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &__h3 {
            text-align: left;
            display: block;
            text-transform: uppercase;
            font: 2.85em $bebas;
            margin-top: auto;
            color: #fff;
            padding: 0 0.3em;
        }
        &__h4 {
            text-align: left;
            display: block;
            text-transform: uppercase;
            font: $futuraLight .85em $futura;
            margin: 0;
            color: #fff;
            padding: 0 1em 1em 1em;
        }
    }
    &--style2 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: calc(100% / 3);
        .grid--item__wrap {
            border: 1px solid #f3f3f3;
            width: calc(100% - 1em);
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin-left: .5em;
            &ping {
                align-items: center;
                align-content: center;
            }
        }

        &:nth-child(3n+2) {
            .grid--item__wrap {
            background: #f2f2f2;
            }
        }
        &__h3 {
            text-align: center;
            display: block;
            text-transform: uppercase;
            font: 2.85em $bebas;
            color: #000;
            padding: 0 0.3em;
        }
        &__h4 {
            text-align: center;
            width:80%;
            margin:1em auto 0 auto;
            display: block;
            text-transform: none;
            font: $futuraLight .85em/1.35em $futura;

            color:$grey;
            padding: 0 1em 1em 1em;
        }
    }
    &--blog {
        width: calc(100% / 3);
        padding: 2em 0;
        height: auto !important;
    }
}

.is-showing-items .grid-item {
    opacity: 1;
}
