.blog {
    padding-top: .5em;
    text-align: left;
    &__article {
        width: 94%;
        margin: 0 auto;
        max-width: 69em;
        @include tablet {
            width: 100%;
        }
    }
    &__more {
        display: block;
        margin: 3em auto 3em auto;
        background: transparent;
        width: 42%;
        height: 4.5em;
        line-height: 4.5em;
        text-align: center;
        text-transform: uppercase;
        font-size: .8em;
        border: 2px solid #ADAFB1;
        color: #ADAFB1;
        letter-spacing: .2em;
        &:hover {
            background: #ADAFB1;
            color: #fff;
        }
    }
}

.blogItem {
    display: block;
    padding: 0;
    height: 100%;
    text-align: left;
    @include tablet {
        font-size: 14px;
    }
    &--wrap {
        padding: 3em 1em;
        @include tablet {
            padding: 3em 1em;
        }
        @include tablet {
            padding: 0 1em 1em 1em;
        }
    }
    &__image {
        position: relative;
        padding-bottom: 75%;
        background: #f0f0f0;
        margin-top: 1.25em;
        overflow: hidden;
        border-bottom: .25em solid #fff;
        &__inner {
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all .2s ease-in-out;
        }
        &:hover {
            .blogItem__image__inner {
                transform: scale(1.15);
            }
        }
    }
    &__h4 {
        font: $futuraLight 1em $futura;
        margin-top: .75em;
    }
    &__h3 {
        font: 2.85em $bebas;
        line-height: 1em;
        @include tablet {
            font-size: 1.85em;
        }
        @include desktop {
            font-size: 2em;
        }
    }
    &__p {
        margin-top: .5em;
        font: $futuraLight 1.1em $futura;
        @include tablet {
            font-size: 1em;
        }
    }
    &--social {
        .blogItem__image {
            border-color: $navy;
        }
    }
    &--tech {
        .blogItem__image {
            border-color: $cyan;
        }
    }
    &--culture {
        .blogItem__image {
            border-color: $pink;
        }
    }
    &--guides {
        .blogItem__image {
            border-color: $orange;
        }
    }
    &--arts {
        .blogItem__image {
            border-color: $yellow;
        }
    }
}

.blogArticle {
    position: relative;
    transform: translateZ(0);
    min-height: 20em;
    @include tablet {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
    }
    &__copy {
        min-height: 10em;
        margin-right: 0;
        overflow: scroll
    }
    &__sidebar {
        right: 7.5%;
        top: 0;
        position: absolute;
        width: 18%;
        height: auto;
        text-align: left;
        margin-top: 1em;
        @include tablet {
            width: 100%;
            right: auto;
            position: relative;
 
            margin: 0 1em;
        }
        &__h4 {
            font: 1.05em $bebas;
            letter-spacing: .1em;
            border-bottom: 1px solid #E6E6E6;
        }
        &__wrap {
            @include tablet {
                display: flex;
                flex-direction: row;
                overflow: scroll;
                width:100%;
            }
        }
        &__item {
            display: block;
            position: relative;
            padding: .6em 0;
            clear: both;
            @include tablet {
                flex:1 0 40%;
            }
            &__image {
                width: 4em;
                height: 4em;
                float: left;
                background: #ccc;
                border: 1px solid #999;
                margin-right: .5em;
                @include tablet {
                    width:75%;
                    height:7em;
                    float: none;
                }
            }
            &__title {
                font: 1.05em $bebas;
                line-height: 1.25em;
                letter-spacing: .05em;
                @include tablet {
                    padding-top:1em;
                }
                @include phone {
                    width:80%;
                }
            }
            &__cat {
                font: $futuraLight .75em $futura;
                line-height: 1.25em;
            }
        }
    }
}

.blogCopy {
    width: 66%;
    @include tablet {
        width: calc(100% - 2em);
        margin: 0 1em;
    }
    &__image {
        width: 100%;
        min-height: 25em;
        margin-bottom: .75em;
        @include tablet {
            min-height: 19em;
            margin-bottom: 0;
        }
        .slide {
            height: 25em;
            width: 100%;
            @include tablet {
                height: 17em;
                width: auto;
            }
        }
    }
    &__cat {
        font: $futuraLight 1em $futura;
        margin-top: 1em;
    }
    &__title {
        font: 2.85em $bebas;
        line-height: 1em;
    }
    &__copy {
        font: $futuraLight 1em/1.4em $futura;
        letter-spacing: .025em;
        color: $darkGrey;
        p {
            display: block;
            margin-top: .75em;
        }
        p + p {
            text-indent: 0;
        }
    }
    &__social {
        border-bottom: 1px solid #E6E6E6;
        padding-bottom: 2em;
        &--loop {
            margin-top: 1em;
            display: inline-block;
            line-height: 2em;
            font: $futuraLight .85em $futura;
            border: 1px solid #e0e0e0;
            padding: .25em 1em;
            border-radius: 1em;
        }
    }
    &__share {
        padding-top: 1.5em;
        &__h4 {
            font: 1.15em $bebas;
            text-transform: uppercase;
            margin-bottom: 1em;
        }
        &__icons {
            &__icon {
                display: inline-block;
                width: 1em;
                height: 1em;
                margin-right: 1em;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                &--facebook {
                    background-image: url('../images/SVG/Facebook.png');
                    background-image: url('../images/SVG/Facebook.svg'), linear-gradient(transparent, transparent);
                }
                &--envelope {
                    background-image: url('../images/SVG/Envelope.png');
                    background-image: url('../images/SVG/Envelope.svg'), linear-gradient(transparent, transparent);
                }
                &--twitter {
                    background-image: url('../images/SVG/Twitter.png');
                    background-image: url('../images/SVG/Twitter.svg'), linear-gradient(transparent, transparent);
                }
            }
        }
    }
}
