@charset "UTF-8";
/*!
Typeplate : Starter Kit
URL ........... http://typeplate.com
Version ....... 3.0.1
Github ........ https://github.com/typeplate/starter-kit
Authors ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
License ....... Creative Commmons Attribution 3.0
License URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
*/
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

.typl8-tera, .typl8-giga, .typl8-mega, h1, .typl8-alpha, h2, .typl8-beta, h3, .typl8-gamma, h4, .typl8-delta, h5, .typl8-epsilon, .typl8-zeta, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  color: #222; }

blockquote + figcaption cite {
  display: block;
  font-size: inherit;
  text-align: right; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

html {
  font: normal 112.5%/1.65 serif; }

body {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444; }

.typl8-tera {
  font-size: 6.5em;
  margin-bottom: 3.9393939394rem; }

.typl8-giga {
  font-size: 5em;
  margin-bottom: 3.0303030303rem; }

.typl8-mega, h1 {
  font-size: 4em;
  margin-bottom: 2.4242424242rem; }

.typl8-alpha, h2 {
  font-size: 3.3333333333em;
  margin-bottom: 2.0202020202rem; }

.typl8-beta, h3 {
  font-size: 2.6666666667em;
  margin-bottom: 1.6161616162rem; }

.typl8-gamma, h4 {
  font-size: 2em;
  margin-bottom: 1.2121212121rem; }

.typl8-delta, h5 {
  font-size: 1.3333333333em;
  margin-bottom: 0.8080808081rem; }

.typl8-epsilon {
  font-size: 1.1666666667em;
  margin-bottom: 0.7070707071rem; }

.typl8-zeta, h6 {
  font-size: 1em;
  margin-bottom: 0.6060606061rem; }

p {
  margin: auto auto 1.5rem; }
  p + p {
    text-indent: 1.5rem;
    margin-top: -1.5rem; }

small {
  font-size: 65%; }

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  white-space: pre; }
  pre code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap; }

code {
  white-space: pre;
  font-family: monospace; }

abbr {
  -webkit-font-variant: small-caps;
  -moz-font-variant: small-caps;
  -ms-font-variant: small-caps;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

.typl8-drop-cap:first-letter {
  float: left;
  margin: 10px 10px 0 0;
  padding: 0 20px;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

p + .typl8-drop-cap {
  text-indent: 0;
  margin-top: 0; }

/**
 * Lining Definition Style Markup
 *
  <dl class="typl8-lining">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-lining dt,
.typl8-lining dd {
  display: inline;
  margin: 0; }

.typl8-lining dt + dt:before,
.typl8-lining dd + dt:before {
  content: "\A";
  white-space: pre; }

.typl8-lining dd + dd:before {
  content: ", "; }

.typl8-lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
  <dl class="typl8-dictionary-style">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .typl8-dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }

.typl8-dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .typl8-dictionary-style dd:before {
    content: counter(definitions, decimal) ". "; }

/**
 * Blockquote Markup
 *
    <figure>
      <blockquote cite="">
        <p></p>
      </blockquote>
      <figcaption>
        <cite>
          <small><a href=""></a></small>
        </cite>
      </figcaption>
    </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
  <aside class="typl8-pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
  </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.typl8-pull-quote {
  position: relative;
  padding: 1em; }
  .typl8-pull-quote:before, .typl8-pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .typl8-pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .typl8-pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
  <figure>
    <figcaption>
      <strong>Fig. X.X | </strong><cite title=""></cite>
    </figcaption>
  </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
  <article>
    <p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
    <footer>
      <ol class="foot-notes">
        <li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
      </ol>
    </footer>
  </article>
 *
 * Extend this object into your markup.
 *
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.slicknav_menu {
  display: none; }

::-webkit-input-placeholder {
  color: #333; }

html {
  height: 100%;
  height: 100%;
  color: #404040;
  text-rendering: optimizeLegibility; }

@media (min-width: 1025px) {
  html {
    font-weight: 300; } }

body {
  box-sizing: inherit;
  margin: 0;
  line-height: 100%;
  font-size: 16px; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  opacity: .9; }

img {
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  border: 0; }

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url("../fonts/BebasNeue-webfont.eot");
  src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/BebasNeue-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Bebas Regular';
  src: url("../fonts/BEBAS___-webfont.eot");
  src: url("../fonts/BEBAS___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BEBAS___-webfont.woff") format("woff"), url("../fonts/BEBAS___-webfont.ttf") format("truetype"), url("../fonts/BEBAS___-webfont.svg#BebasRegular") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Futura Light Italic';
  src: url("../fonts/Futura-Light-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Light-Italic.woff") format("woff"), url("../fonts/Futura-Light-Italic.ttf") format("truetype"), url("../fonts/Futura-Light-Italic.svg#webfont") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Futura Bold Italic';
  src: url("../fonts/Futura-Bold-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Bold-Italic.woff") format("woff"), url("../fonts/Futura-Bold-Italic.ttf") format("truetype"), url("../fonts/Futura-Bold-Italic.svg#webfont") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Futura Bold';
  src: url("../fonts/Futura-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Bold.woff") format("woff"), url("../fonts/Futura-Bold.ttf") format("truetype"), url("../fonts/Futura-Bold.svg#webfont") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Futura Book Italic';
  src: url("../fonts/Futura-Book-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Book-Italic.woff") format("woff"), url("../fonts/Futura-Book-Italic.ttf") format("truetype"), url("../fonts/Futura-Book-Italic.svg#webfont") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Futura Book';
  src: url("../fonts/Futura-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Book.woff") format("woff"), url("../fonts/Futura-Book.ttf") format("truetype"), url("../fonts/Futura-Book.svg#webfont") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Futura Light';
  src: url("../fonts/Futura-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Light.woff") format("woff"), url("../fonts/Futura-Light.ttf") format("truetype"), url("../fonts/Futura-Light.svg#webfont") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Futura Medium Italic';
  src: url("../fonts/Futura-Medium-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Medium-Italic.woff") format("woff"), url("../fonts/Futura-Medium-Italic.ttf") format("truetype"), url("../fonts/Futura-Medium-Italic.svg#webfont") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Futura Medium';
  src: url("../fonts/Futura-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Medium.woff") format("woff"), url("../fonts/Futura-Medium.ttf") format("truetype"), url("../fonts/Futura-Medium.svg#webfont") format("svg");
  font-weight: normal; }

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

html {
  font: 400 16px "Futura Medium", sans-serif; }

.base {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  overflow: hidden; }
  .base__scroll {
    position: absolute;
    right: .5rem;
    z-index: 90000;
    text-transform: uppercase;
    font-size: 1.25em;
    width: 3.5rem;
    display: block;
    top: 60%;
    cursor: pointer; }
    .base__scroll__box {
      background: white;
      float: right;
      white-space: nowrap;
      font-weight: normal;
      display: block;
      width: auto;
      width: 2.5rem;
      height: 2.5rem;
      text-align: center;
      line-height: 2.5rem;
      border: 1px solid #000000;
      -webkit-transition: 1s width;
      transition: 1s width;
      overflow: hidden; }
      .base__scroll__box:hover {
        width: 6.5rem;
        padding: 0 .75em;
        text-align: left; }
        .base__scroll__box:hover span {
          display: inline;
          -webkit-animation: fadeInLoad 5s;
                  animation: fadeInLoad 5s;
          opacity: 1; }
    .base__scroll span {
      display: none;
      opacity: 0; }
  .base__inside {
    position: relative;
    width: calc(100% - 7em);
    height: calc(100% - 7em);
    top: 3.5em;
    left: 3.5em;
    background: #BBBDBF;
    text-align: center; }
    .base__inside--sub {
      overflow: scroll; }
  .base__pagination {
    background: white;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 3.5em;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .base__section {
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    margin: 0;
    top: 40%;
    margin-top: -.5em; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  background: #BBBDBF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.scrollArrow {
  position: relative;
  height: 4em;
  width: 9em;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  margin-left: -4.5em;
  z-index: 1000;
  bottom: 6em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  .scrollArrow span {
    display: block;
    position: absolute;
    height: 3em;
    width: 5em;
    line-height: 3.60em;
    text-align: center;
    font-size: 1.15em;
    right: 0;
    color: white;
    letter-spacing: 1px; }
  .scrollArrow div {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: 0;
    -webkit-transition: .5s all;
    transition: .5s all;
    display: block;
    content: " ";
    width: 4em;
    position: absolute;
    right: 0;
    height: 4em;
    background-image: url("../images/SVG/BlueArrow.png");
    background-image: url("../images/SVG/BlueArrow.svg"), -webkit-linear-gradient(transparent, transparent);
    background-image: url("../images/SVG/BlueArrow.svg"), linear-gradient(transparent, transparent);
    background-position: 115% center;
    background-size: auto 25%;
    background-repeat: no-repeat; }
  .scrollArrow:hover {
    padding: 0 1em 0 3em; }
    .scrollArrow:hover div {
      background-position: 105% center; }

.grid__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  overflow-y: scroll; }

.base__inside--home .grid__wrap {
  overflow: hidden !important; }

.masthead {
  overflow: hidden;
  width: calc(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .masthead .brick__h2 {
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 2em;
    font-family: "Futura Light";
    letter-spacing: .1em;
    margin-bottom: 1em;
    margin-top: 1em; }
  .masthead .brick__p {
    width: 41%;
    margin: 0 auto;
    font-size: .8em;
    line-height: 1.75em;
    font-weight: normal; }

.grid-item {
  width: calc(100% / 4); }
  .grid-item--wide {
    width: calc(100% / 2); }

.bullet {
  cursor: pointer;
  background: none;
  width: 1.75em;
  float: right;
  height: .75em;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  position: relative;
  overflow: visible; }
  .bullet__one {
    position: absolute;
    top: 0;
    font-size: 16px;
    display: block;
    border-radius: .25em;
    border: 1px solid #929497;
    line-height: 20px;
    width: .5em;
    float: none;
    height: .5em;
    left: 50%;
    margin: 0;
    margin-left: -.25em;
    margin-top: .5em;
    -webkit-transition: width .1s, height .1s, margin .1s, border-radius .1s;
    transition: width .1s, height .1s, margin .1s, border-radius .1s; }
  .bullet__two {
    height: 1px;
    width: 0;
    float: right;
    margin-right: .85em;
    -webkit-transition: width .5s;
    transition: width .5s;
    top: 0em;
    margin: 0; }
  .bullet__name {
    display: block;
    position: absolute;
    font-size: .3em;
    font-weight: lighter;
    color: #7F7F7F;
    line-height: 3.1em;
    text-transform: uppercase;
    width: 6em;
    text-align: right;
    -webkit-transition: all .5s;
    transition: all .5s;
    top: 0;
    right: 0;
    opacity: 0; }
  .bullet.active .bullet__one {
    border: 1px solid #222; }
  .bullet:hover .bullet__one {
    position: relative;
    opacity: 0; }
  .bullet:hover .bullet__two {
    display: block;
    position: relative;
    float: right;
    border-bottom: 1px solid #222;
    height: 1px;
    width: .9em;
    right: .85em;
    top: -.1em; }
  .bullet:hover .bullet__name {
    right: 6em;
    opacity: 1; }

.header {
  height: 3.5em;
  width: calc(100% - 7em);
  position: fixed;
  margin-left: 3.5em;
  z-index: 100000; }
  .header__logo {
    height: 3.5em;
    width: 40%;
    margin: 0 auto;
    background-image: url("../images/SVG/Logo.png");
    background-image: url("../images/SVG/Logo.svg"), -webkit-linear-gradient(transparent, transparent);
    background-image: url("../images/SVG/Logo.svg"), linear-gradient(transparent, transparent);
    background-size: auto 58%;
    background-repeat: no-repeat;
    background-position: center center; }
  .header__right {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 7;
    height: 3.5em;
    z-index: 1000; }
    .header__right__icon {
      float: left;
      width: 2.9166666667em;
      height: 3.5em; }
      .header__right__icon--search {
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 50% 52%;
        background-image: url("../images/SVG/Search.png");
        background-image: url("../images/SVG/Search.svg"), -webkit-linear-gradient(transparent, transparent);
        background-image: url("../images/SVG/Search.svg"), linear-gradient(transparent, transparent); }

.hamburger {
  z-index: 4;
  top: 0;
  display: block;
  float: left;
  width: 2em;
  height: 3em;
  position: relative; }
  .hamburger__bun {
    padding: 0;
    height: 100%;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    position: absolute;
    overflow: hidden; }
  .hamburger .line {
    background: #929497;
    height: 1px;
    margin-bottom: .5rem;
    float: right;
    width: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translate(0.25em, 1.25em);
            transform: translate(0.25em, 1.25em); }
    .hamburger .line--two {
      width: 80%; }
  .hamburger:hover .line--one,
  .hamburger:hover .line--three {
    width: 80%; }
  .hamburger:hover .line--two {
    width: 100%; }
  .hamburger.hamburger--open .line {
    margin: 0;
    width: 100%; }
  .hamburger.hamburger--open .line--two {
    background-color: transparent; }
  .hamburger.hamburger--open .line--one,
  .hamburger.hamburger--open .line--three {
    top: 0; }
  .hamburger.hamburger--open .line--one {
    -webkit-transform: rotate(45deg) translate(1.2em, 1.25em);
            transform: rotate(45deg) translate(1.2em, 1.25em); }
  .hamburger.hamburger--open .line--three {
    -webkit-transform: rotate(-45deg) translate(-1.15em, 1.1em);
            transform: rotate(-45deg) translate(-1.15em, 1.1em); }

.drawer-overlay {
  background-color: RGBA(255, 255, 255, 0.5); }

.drawer--right .drawer-nav {
  right: -22.5rem; }

.drawer-nav {
  z-index: 1000000000;
  height: calc(100% - 7em);
  margin-top: 3.5em;
  width: 22.5em; }
  .drawer-nav ul {
    padding-top: 1em; }
    .drawer-nav ul li {
      height: 7.15em;
      line-height: 7.15em;
      display: block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px; }
      .drawer-nav ul li a {
        font-family: "Futura Medium";
        font-size: 1em;
        color: #939598; }

.footer {
  height: 3.5em;
  width: calc(100% - 7em);
  position: fixed;
  bottom: 0;
  margin-left: 3.5em;
  z-index: 10000000;
  overflow: visible; }
  .footer__newsletter, .footer__legal {
    height: 4.6666666667em;
    line-height: 4.6666666667em;
    font-size: .75em;
    text-align: left;
    color: #939598;
    float: left; }
  .footer__newsletter {
    cursor: pointer;
    position: relative;
    float: right;
    overflow: visible; }
    .footer__newsletter:hover .newsletterBox {
      opacity: 1;
      margin-top: 0; }
  .footer__social {
    float: right; }
    .footer__social__icon {
      display: block;
      cursor: pointer;
      height: 3.3em;
      width: 2.6em;
      float: left;
      background-image: url("../images/SVG/Facebook.png");
      background-image: url("../images/SVG/Facebook.svg"), -webkit-linear-gradient(transparent, transparent);
      background-image: url("../images/SVG/Facebook.svg"), linear-gradient(transparent, transparent);
      background-size: auto 25%;
      background-repeat: no-repeat;
      background-position: center right; }
      .footer__social__icon--instagram {
        background-image: url("../images/SVG/Instagram.png");
        background-image: url("../images/SVG/Instagram.svg"), -webkit-linear-gradient(transparent, transparent);
        background-image: url("../images/SVG/Instagram.svg"), linear-gradient(transparent, transparent); }
      .footer__social__icon--linkedin {
        background-image: url("../images/SVG/Linkedin.png");
        background-image: url("../images/SVG/Linkedin.svg"), -webkit-linear-gradient(transparent, transparent);
        background-image: url("../images/SVG/Linkedin.svg"), linear-gradient(transparent, transparent); }
      .footer__social__icon--twitter {
        background-image: url("../images/SVG/Twitter.png");
        background-image: url("../images/SVG/Twitter.svg"), -webkit-linear-gradient(transparent, transparent);
        background-image: url("../images/SVG/Twitter.svg"), linear-gradient(transparent, transparent); }

.newsletterBox {
  opacity: 0;
  position: absolute;
  top: -21em;
  background: white;
  width: 20em;
  margin-left: -6.75em;
  margin-top: -2em;
  height: 20em;
  padding: 1.5em 1em;
  -webkit-transition: .5s all;
  transition: .5s all; }
  .newsletterBox__p {
    text-align: center;
    font-size: 1em;
    line-height: 1.75em; }
  .newsletterBox__input {
    margin-top: 1.75em; }
    .newsletterBox__input label {
      display: block;
      font-size: 1em;
      text-align: left;
      line-height: 1em;
      margin: 0; }
    .newsletterBox__input input {
      display: block;
      width: 100%;
      margin: 0;
      top: 0;
      margin-top: .5em;
      line-height: 2em;
      padding: 0 .5em; }
    .newsletterBox__input--half {
      width: 45%;
      float: left; }
      .newsletterBox__input--half:nth-child(even) {
        margin-left: 10%; }
  .newsletterBox__subscribe {
    border: 0;
    position: relative;
    background: #fff;
    display: block;
    width: 100%;
    height: 2.75em;
    font-size: 1em;
    line-height: 2.75em;
    top: 1.25em;
    text-align: center;
    color: #939598;
    font-family: "Futura Medium"; }

.search {
  position: fixed;
  z-index: 10000000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: none;
  width: calc(100% - 7em);
  height: calc(100% - 7em);
  top: 3.5em;
  left: 3.5em; }
  @media (max-width: 1024px) {
    .search {
      font-size: 12px; } }
  .search__close {
    background-image: url(../images/PNG/Collapse_Large.png);
    background-image: url(../images/SVG/Collapse_Large.svg), -webkit-linear-gradient(transparent, transparent);
    background-image: url(../images/SVG/Collapse_Large.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: contain;
    height: .25em;
    width: .25em;
    position: absolute;
    right: 0;
    bottom: 0.20em; }
  .search--open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: fade-in 1s;
            animation: fade-in 1s; }
  .search__wrap {
    width: 63%;
    display: block;
    margin: 0 auto;
    height: 30em; }
  .search__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: fade-in-top 1s;
            animation: fade-in-top 1s; }
    .search__boxes__box {
      margin-right: 2em; }
      .search__boxes__box__image {
        height: 9.5em;
        width: 14em;
        background: #fff;
        border: 1px solid #939598; }
      .search__boxes__box__title {
        display: block;
        margin-top: 1em;
        line-height: 1em;
        font-family: "Futura Light"; }
      .search__boxes__box__subtitle {
        display: block;
        margin-top: .5em;
        line-height: 1em;
        font-size: .75em;
        text-transform: uppercase;
        color: #00A4EB;
        font-family: "Futura Light"; }
  .search__term {
    position: relative;
    font-family: "Futura Medium";
    font-size: 8.5em;
    line-height: 1em;
    width: 97%;
    text-align: left;
    margin-left: 0em;
    padding-left: .1em;
    margin-top: .5em;
    border-bottom: 1px solid #939598; }
  .search__results__text {
    text-align: left;
    font-family: "Futura Medium";
    text-transform: uppercase;
    line-height: 4.5em;
    font-size: .8em;
    margin-left: .5em; }

.pOverlay {
  width: 80%;
  text-align: left;
  padding-top: 1em; }
  .pOverlay--center {
    text-align: center; }
  .pOverlay__h2, .pOverlay__h3 {
    font-size: 28pt;
    line-height: 30pt;
    letter-spacing: 2pt;
    font-family: "Futura Light"; }
  .pOverlay__h3 {
    width: 35%;
    margin-top: .5em;
    font-size: 14pt;
    line-height: 20pt;
    letter-spacing: 1pt; }
  .pOverlay__button {
    position: relative;
    font-family: "Futura Light";
    display: inline-block;
    height: 2.5em;
    margin-top: 3em;
    line-height: 2.5em;
    padding: 0 2em;
    letter-spacing: 1px;
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition: .5s all;
    transition: .5s all;
    text-transform: uppercase; }
    .pOverlay__button--center {
      margin: 0 auto; }
    .pOverlay__button div {
      -webkit-transition: .5s all;
      transition: .5s all;
      display: block;
      content: " ";
      width: 5em;
      position: absolute;
      padding-left: 1em;
      left: -1.25em;
      height: 2.5em;
      background-image: url("../images/SVG/BlueArrow.png");
      background-image: url("../images/SVG/BlueArrow.svg"), -webkit-linear-gradient(transparent, transparent);
      background-image: url("../images/SVG/BlueArrow.svg"), linear-gradient(transparent, transparent);
      background-position: 125% center;
      background-size: auto 40%;
      background-repeat: no-repeat; }
    .pOverlay__button:hover {
      padding: 0 1em 0 3em; }
      .pOverlay__button:hover div {
        background-position: 115% center; }
