@charset "UTF-8";
/*!
Typeplate : Starter Kit
URL ........... http://typeplate.com
Version ....... 3.0.1
Github ........ https://github.com/typeplate/starter-kit
Authors ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
License ....... Creative Commmons Attribution 3.0
License URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
*/
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

.typl8-tera, .typl8-giga, .typl8-mega, h1, .typl8-alpha, h2, .typl8-beta, h3, .typl8-gamma, h4, .typl8-delta, h5, .typl8-epsilon, .typl8-zeta, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  color: #222; }

blockquote + figcaption cite {
  display: block;
  font-size: inherit;
  text-align: right; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

html {
  font: normal 112.5%/1.65 serif; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444; }

.typl8-tera {
  font-size: 6.5em;
  margin-bottom: 3.9393939394rem; }

.typl8-giga {
  font-size: 5em;
  margin-bottom: 3.0303030303rem; }

.typl8-mega, h1 {
  font-size: 4em;
  margin-bottom: 2.4242424242rem; }

.typl8-alpha, h2 {
  font-size: 3.3333333333em;
  margin-bottom: 2.0202020202rem; }

.typl8-beta, h3 {
  font-size: 2.6666666667em;
  margin-bottom: 1.6161616162rem; }

.typl8-gamma, h4 {
  font-size: 2em;
  margin-bottom: 1.2121212121rem; }

.typl8-delta, h5 {
  font-size: 1.3333333333em;
  margin-bottom: 0.8080808081rem; }

.typl8-epsilon {
  font-size: 1.1666666667em;
  margin-bottom: 0.7070707071rem; }

.typl8-zeta, h6 {
  font-size: 1em;
  margin-bottom: 0.6060606061rem; }

p {
  margin: auto auto 1.5rem; }
  p + p {
    text-indent: 1.5rem;
    margin-top: -1.5rem; }

small {
  font-size: 65%; }

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  white-space: pre; }
  pre code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap; }

code {
  white-space: pre;
  font-family: monospace; }

abbr {
  -webkit-font-variant: small-caps;
  -moz-font-variant: small-caps;
  -ms-font-variant: small-caps;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

.typl8-drop-cap:first-letter {
  float: left;
  margin: 10px 10px 0 0;
  padding: 0 20px;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

p + .typl8-drop-cap {
  text-indent: 0;
  margin-top: 0; }

/**
 * Lining Definition Style Markup
 *
  <dl class="typl8-lining">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-lining dt,
.typl8-lining dd {
  display: inline;
  margin: 0; }

.typl8-lining dt + dt:before,
.typl8-lining dd + dt:before {
  content: "\A";
  white-space: pre; }

.typl8-lining dd + dd:before {
  content: ", "; }

.typl8-lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
  <dl class="typl8-dictionary-style">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .typl8-dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }

.typl8-dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .typl8-dictionary-style dd:before {
    content: counter(definitions, decimal) ". "; }

/**
 * Blockquote Markup
 *
    <figure>
      <blockquote cite="">
        <p></p>
      </blockquote>
      <figcaption>
        <cite>
          <small><a href=""></a></small>
        </cite>
      </figcaption>
    </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
  <aside class="typl8-pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
  </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.typl8-pull-quote {
  position: relative;
  padding: 1em; }
  .typl8-pull-quote:before, .typl8-pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .typl8-pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .typl8-pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
  <figure>
    <figcaption>
      <strong>Fig. X.X | </strong><cite title=""></cite>
    </figcaption>
  </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
  <article>
    <p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
    <footer>
      <ol class="foot-notes">
        <li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
      </ol>
    </footer>
  </article>
 *
 * Extend this object into your markup.
 *
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.slicknav_menu {
  display: none; }

::-webkit-input-placeholder {
  color: #333; }

html {
  height: 100%;
  height: 100%;
  color: #404040;
  text-rendering: optimizeLegibility; }

@media (min-width: 1025px) {
  html {
    font-weight: 300; } }

body {
  box-sizing: inherit;
  margin: 0;
  line-height: 100%;
  font-size: 16px; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  opacity: .9; }

img {
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  border: 0; }

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("../fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("../fonts/bebasneue_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes arrow {
  0% {
    transform: translateY(0) rotate(-90deg); }
  40% {
    transform: translateY(0) rotate(-90deg); }
  45% {
    transform: translateY(-0.5rem) rotate(-90deg); }
  50% {
    transform: translateY(-0.5rem) rotate(-90deg); }
  100% {
    transform: translateY(0rem) rotate(-90deg); } }

html {
  font: 500 16px "futura-pt", futura, trebuchet, sans-serif; }

.base {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  overflow: hidden; }
  .base__scroll {
    position: absolute;
    right: .4em;
    z-index: 90000;
    text-transform: uppercase;
    width: 3.5em;
    display: block;
    top: 60%;
    cursor: pointer; }
    .base__scroll__box {
      background: white;
      float: right;
      white-space: nowrap;
      font: 700 1.25em "proxima-nova", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
      display: block;
      width: auto;
      width: 2em;
      height: 2em;
      text-align: center;
      line-height: 2em;
      border: 1px solid #000000;
      transition: 1s width;
      overflow: hidden; }
      .base__scroll__box:hover {
        width: 5.25em;
        padding: 0 .75em;
        text-align: left; }
        .base__scroll__box:hover span {
          display: inline;
          animation: fadeInLoad 5s;
          opacity: 1; }
    .base__scroll span {
      display: none;
      opacity: 0; }
  .base__inside {
    position: relative;
    width: calc(100% - 7em);
    height: calc(100% - 7em);
    top: 3.5em;
    left: 3.5em;
    background: #BBBDBF;
    text-align: center;
    overflow: hidden; }
    .base__inside--sub {
      overflow: hidden; }
  .base__pagination {
    background: white;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 3.5em;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .base__section {
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    margin: 0;
    top: 40%;
    margin-top: -.5em; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  background: #BBBDBF;
  display: flex;
  justify-content: center;
  align-items: center; }

.scrollArrow {
  position: relative;
  height: 4em;
  width: 9em;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  margin-left: -4.5em;
  z-index: 1000;
  bottom: 6em;
  animation: arrow 3s infinite; }
  .scrollArrow span {
    display: block;
    position: absolute;
    height: 3em;
    width: 5em;
    line-height: 3.60em;
    text-align: center;
    font-size: 1.15em;
    right: 0;
    color: white;
    letter-spacing: 1px; }
  .scrollArrow div {
    transform: rotate(-180deg);
    left: 0;
    transition: .5s all;
    display: block;
    content: " ";
    width: 4em;
    position: absolute;
    right: 0;
    height: 4em;
    background-image: url("../images/SVG/BlueArrow.png");
    background-image: url("../images/SVG/BlueArrow.svg"), linear-gradient(transparent, transparent);
    background-position: 115% center;
    background-size: auto 25%;
    background-repeat: no-repeat; }
  .scrollArrow:hover {
    padding: 0 1em 0 3em; }
    .scrollArrow:hover div {
      background-position: 105% center; }

.scrollArea {
  overflow: hidden;
  overflow-y: scroll;
  background: white; }
  .scrollArea--viewport {
    overflow: visible;
    padding-right: 0em;
    clear: both; }

::-webkit-scrollbar-track {
  background-color: #f0f0f0; }

::-webkit-scrollbar {
  width: .25em; }

::-webkit-scrollbar-thumb {
  background-color: #939598; }

.grid__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.masthead {
  overflow: hidden;
  width: calc(100%);
  display: flex;
  align-items: center; }
  .masthead .brick__h2 {
    width: 100%;
    display: block;
    text-transform: uppercase;
    font: 300 2em "futura-pt", futura, trebuchet, sans-serif;
    letter-spacing: .1em;
    margin-bottom: .5em;
    margin-top: .75em; }
  .masthead .brick__p {
    width: 41%;
    margin: 0 auto;
    font: 500 0.8em "futura-pt", futura, trebuchet, sans-serif;
    line-height: 1.75em; }

.grid--item {
  width: calc(100% / 4); }
  .grid--item--wide {
    width: calc(100% / 2); }
  .grid--item__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; }
  .grid--item--style1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .grid--item--style1__h3 {
      text-align: left;
      display: block;
      text-transform: uppercase;
      font: 2.85em "Bebas Neue Bold", Helvetica, Arial;
      margin-top: auto;
      color: #fff;
      padding: 0 0.3em; }
    .grid--item--style1__h4 {
      text-align: left;
      display: block;
      text-transform: uppercase;
      font: 300 0.85em "futura-pt", futura, trebuchet, sans-serif;
      margin: 0;
      color: #fff;
      padding: 0 1em 1em 1em; }
  .grid--item--blog {
    width: calc(100% / 3);
    padding: 2em 0;
    height: auto !important; }

.bullet {
  cursor: pointer;
  background: none;
  width: 1.75em;
  float: right;
  height: .75em;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  position: relative;
  overflow: visible; }
  .bullet__one {
    position: absolute;
    top: 0;
    font-size: 16px;
    display: block;
    border-radius: .25em;
    border: 1px solid #929497;
    line-height: 20px;
    width: .5em;
    float: none;
    height: .5em;
    left: 50%;
    margin: 0;
    margin-left: -.25em;
    margin-top: .5em;
    transition: width .1s, height .1s, margin .1s, border-radius .1s; }
  .bullet__two {
    height: 1px;
    width: 0;
    float: right;
    margin-right: .85em;
    transition: width .5s;
    top: 0em;
    margin: 0; }
  .bullet__name {
    display: block;
    position: absolute;
    font-size: .3em;
    font-weight: lighter;
    color: #7F7F7F;
    line-height: 3.1em;
    text-transform: uppercase;
    width: 6em;
    text-align: right;
    transition: all .5s;
    top: 0;
    right: 0;
    opacity: 0; }
  .bullet.active .bullet__one {
    border: 1px solid #222; }
  .bullet:hover .bullet__one {
    position: relative;
    opacity: 0; }
  .bullet:hover .bullet__two {
    display: block;
    position: relative;
    float: right;
    border-bottom: 1px solid #222;
    height: 1px;
    width: .9em;
    right: .85em;
    top: -.1em; }
  .bullet:hover .bullet__name {
    right: 6em;
    opacity: 1; }

.header {
  height: 3.5em;
  width: calc(100% - 7em);
  position: fixed;
  margin-left: 3.5em;
  z-index: 100000; }
  .header__logo {
    height: 3.5em;
    width: 40%;
    margin: 0 auto;
    background-image: url("../images/SVG/Logo.png");
    background-image: url("../images/SVG/Logo.svg"), linear-gradient(transparent, transparent);
    background-size: auto 58%;
    background-repeat: no-repeat;
    background-position: center center; }
  .header__right {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 7;
    height: 3.5em;
    z-index: 1000; }
    .header__right__icon {
      float: left;
      width: 2.9166666667em;
      height: 3.5em; }
      .header__right__icon--search {
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 50% 52%;
        background-image: url("../images/SVG/Search.png");
        background-image: url("../images/SVG/Search.svg"), linear-gradient(transparent, transparent); }

.hamburger {
  z-index: 4;
  top: 0;
  display: block;
  float: left;
  width: 2em;
  height: 3em;
  position: relative; }
  .hamburger__bun {
    padding: 0;
    height: 100%;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    position: absolute;
    overflow: hidden; }
  .hamburger .line {
    background: #929497;
    height: 1px;
    margin-bottom: .5em;
    float: right;
    width: 100%;
    transition: all .5s ease;
    transform: translate(0.25em, 1.25em); }
    .hamburger .line--two {
      width: 80%; }
  .hamburger:hover .line--one,
  .hamburger:hover .line--three {
    width: 80%; }
  .hamburger:hover .line--two {
    width: 100%; }
  .hamburger.hamburger--open .line {
    margin: 0;
    width: 100%; }
  .hamburger.hamburger--open .line--two {
    background-color: transparent; }
  .hamburger.hamburger--open .line--one,
  .hamburger.hamburger--open .line--three {
    top: 0; }
  .hamburger.hamburger--open .line--one {
    transform: rotate(45deg) translate(1.2em, 1.25em); }
  .hamburger.hamburger--open .line--three {
    transform: rotate(-45deg) translate(-1.15em, 1.1em); }

.drawer-overlay {
  background-color: RGBA(255, 255, 255, 0.5); }

.drawer--right .drawer-nav {
  right: -23em; }

.drawer-nav {
  z-index: 1000000000;
  height: calc(100% - 7em);
  margin-top: 3.5em;
  width: 22.5em; }
  .drawer-nav ul {
    padding-top: 1em; }
    .drawer-nav ul li {
      height: 7.15em;
      line-height: 7.15em;
      display: block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px; }
      .drawer-nav ul li a {
        font: 500 1em "futura-pt", futura, trebuchet, sans-serif;
        color: #939598; }

.footer {
  height: 3.5em;
  width: calc(100% - 7em);
  position: fixed;
  bottom: 0;
  margin-left: 3.5em;
  z-index: 10000000;
  overflow: visible; }
  .footer__newsletter, .footer__legal {
    height: 4.6666666667em;
    font-size: .75em;
    line-height: 4.6666666667em;
    text-align: left;
    color: #939598;
    float: left; }
  .footer__newsletter {
    cursor: pointer;
    position: relative;
    float: right;
    overflow: hidden; }
    .footer__newsletter:hover {
      overflow: visible; }
      .footer__newsletter:hover .newsletterBox {
        opacity: 1;
        margin-top: 0; }
  .footer__social {
    float: right; }
    .footer__social__icon {
      display: block;
      cursor: pointer;
      height: 3.3em;
      width: 2.6em;
      float: left;
      background-image: url("../images/SVG/Facebook.png");
      background-image: url("../images/SVG/Facebook.svg"), linear-gradient(transparent, transparent);
      background-size: auto 25%;
      background-repeat: no-repeat;
      background-position: center right; }
      .footer__social__icon--instagram {
        background-image: url("../images/SVG/Instagram.png");
        background-image: url("../images/SVG/Instagram.svg"), linear-gradient(transparent, transparent); }
      .footer__social__icon--linkedin {
        background-image: url("../images/SVG/Linkedin.png");
        background-image: url("../images/SVG/Linkedin.svg"), linear-gradient(transparent, transparent); }
      .footer__social__icon--twitter {
        background-image: url("../images/SVG/Twitter.png");
        background-image: url("../images/SVG/Twitter.svg"), linear-gradient(transparent, transparent); }

.newsletterBox {
  opacity: 0;
  position: absolute;
  top: -21em;
  width: 20em;
  margin-left: -7.75em;
  margin-top: -2em;
  height: 24em;
  padding-bottom: 4em;
  transition: .5s all; }
  .newsletterBox__wrap {
    background: white;
    padding: 1.5em 1em; }
  .newsletterBox__p {
    text-align: center;
    font-size: 1em;
    line-height: 1.75em; }
  .newsletterBox__input {
    margin-top: 1.75em; }
    .newsletterBox__input label {
      display: block;
      font-size: 1em;
      line-height: 1em;
      text-align: left;
      margin: 0; }
    .newsletterBox__input input {
      display: block;
      width: 100%;
      margin: 0;
      top: 0;
      margin-top: .5em;
      line-height: 2em;
      padding: 0 .5em; }
    .newsletterBox__input--half {
      width: 45%;
      float: left; }
      .newsletterBox__input--half:nth-child(even) {
        margin-left: 10%; }
  .newsletterBox__subscribe {
    border: 0;
    position: relative;
    background: #fff;
    display: block;
    width: 100%;
    height: 2.75em;
    font: 300 1em/2.75em "futura-pt", futura, trebuchet, sans-serif;
    top: 1.25em;
    text-align: center;
    color: #939598; }

.search {
  position: fixed;
  z-index: 10000000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  display: none;
  width: calc(100% - 7em);
  height: calc(100% - 7em);
  top: 3.5em;
  left: 3.5em;
  background: rgba(187, 189, 191, 0.7);
  opacity: 0;
  transition: 1s all; }
  .search__close {
    background-image: url(../images/PNG/Collapse_Large.png);
    background-image: url(../images/SVG/Collapse_Large.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: contain;
    height: .25em;
    width: .25em;
    position: absolute;
    right: 0;
    bottom: 0.20em; }
  .search--open {
    display: flex;
    opacity: 1; }
  .search__wrap {
    width: 63%;
    display: block;
    margin: 0 auto;
    height: 30em; }
  .search__boxes {
    display: flex;
    animation: fade-in-top 1s; }
    .search__boxes__box {
      margin-right: 2em; }
      .search__boxes__box__image {
        height: 9.5em;
        width: 14em;
        background: #fff;
        border: 1px solid #939598; }
      .search__boxes__box__title {
        display: block;
        margin-top: 1em;
        line-height: 1em;
        font-weight: 300; }
      .search__boxes__box__subtitle {
        display: block;
        margin-top: .5em;
        line-height: 1em;
        text-transform: uppercase;
        color: #00A4EB;
        font: 300 0.75em "futura-pt", futura, trebuchet, sans-serif; }
  .search__term {
    position: relative;
    font: 500 8.5em/1em "futura-pt", futura, trebuchet, sans-serif;
    width: 97%;
    text-align: left;
    margin-left: 0em;
    padding-left: .1em;
    margin-top: .5em;
    border-bottom: 1px solid #939598; }
  .search__results__text {
    text-align: left;
    font: 500 0.8em/4.5em "futura-pt", futura, trebuchet, sans-serif;
    text-transform: uppercase;
    margin-left: .5em; }

.pOverlay {
  width: 80%;
  text-align: left;
  padding-top: 1em; }
  .pOverlay--center {
    text-align: center; }
  .pOverlay__h2, .pOverlay__h3 {
    letter-spacing: 1px;
    font: 300 2.25em/1.5em "futura-pt", futura, trebuchet, sans-serif; }
  .pOverlay__h3 {
    width: 35%;
    font: 300 1em/1.75em "futura-pt", futura, trebuchet, sans-serif;
    letter-spacing: 1px; }
  .pOverlay__button {
    position: relative;
    display: inline-block;
    height: 2.5em;
    margin-top: 3em;
    line-height: 2.5em;
    padding: 0 2em;
    letter-spacing: 1px;
    border: 1px solid #fff;
    color: #fff;
    transition: .5s all;
    text-transform: uppercase; }
    .pOverlay__button--center {
      margin: 0 auto; }
    .pOverlay__button div {
      transition: .5s all;
      display: block;
      content: " ";
      width: 5em;
      position: absolute;
      padding-left: 1em;
      left: -1.25em;
      height: 2.5em;
      background-image: url("../images/SVG/BlueArrow.png");
      background-image: url("../images/SVG/BlueArrow.svg"), linear-gradient(transparent, transparent);
      background-position: 125% center;
      background-size: auto 40%;
      background-repeat: no-repeat; }
    .pOverlay__button:hover {
      padding: 0 1em 0 3em; }
      .pOverlay__button:hover div {
        background-position: 115% center; }

.blog {
  text-align: left; }
  .blog__nav {
    height: 3.25em;
    background: white;
    border-bottom: 1px solid #E6E6E6; }
    .blog__nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .blog__nav ul li {
        display: block;
        height: 3.25em;
        line-height: 3.25em;
        text-transform: uppercase;
        font: 600 0.85em "futura-pt", futura, trebuchet, sans-serif; }
        .blog__nav ul li a {
          line-height: 3.25em;
          display: block;
          padding: 0 4em; }
          .blog__nav ul li a.active {
            color: #231f20; }
          .blog__nav ul li a.notActive {
            color: #939598; }
  .blog__article {
    width: 58em;
    margin: 2.5em auto; }

.blogItem {
  display: block;
  padding: 2em 1em;
  height: 100%;
  text-align: left; }
  .blogItem__image {
    padding-bottom: 75%;
    background: #f0f0f0;
    margin-top: 1.25em;
    border-bottom: 0.5em solid #003767; }
  .blogItem__h4 {
    font: 300 1em "futura-pt", futura, trebuchet, sans-serif;
    margin-top: .75em; }
  .blogItem__h3 {
    font: 2.85em "Bebas Neue Bold", Helvetica, Arial;
    line-height: 1em; }
  .blogItem__p {
    margin-top: .5em;
    font: 300 1em "futura-pt", futura, trebuchet, sans-serif; }
  .blogItem--social .blogItem__image {
    border-color: #003767; }
  .blogItem--tech .blogItem__image {
    border-color: #00aeef; }
  .blogItem--culture .blogItem__image {
    border-color: #e64097; }
  .blogItem--guides .blogItem__image {
    border-color: #f78e1e; }
  .blogItem--arts .blogItem__image {
    border-color: #ffef00; }

.blogArticle {
  position: relative;
  transform: translateZ(0);
  min-height: 20em; }
  .blogArticle__copy {
    min-height: 10em;
    margin-right: 14em; }
  .blogArticle__sidebar {
    right: 0;
    top: 0;
    position: fixed;
    width: 14em;
    height: 50em;
    text-align: left;
    margin-top: 1em; }
    .blogArticle__sidebar__h4 {
      font: 1.75em "Bebas Neue Bold", Helvetica, Arial;
      letter-spacing: .1em;
      border-bottom: 1px solid #E6E6E6; }
    .blogArticle__sidebar__item {
      display: block;
      position: relative;
      padding: .6em 0;
      clear: both; }
      .blogArticle__sidebar__item__image {
        width: 5em;
        height: 5em;
        float: left;
        background: #ccc;
        border: 1px solid #999;
        margin-right: .5em; }
      .blogArticle__sidebar__item__title {
        font: 1.05em "Bebas Neue Bold", Helvetica, Arial;
        line-height: 1.25em;
        letter-spacing: .05em; }
      .blogArticle__sidebar__item__cat {
        font: 300 0.75em "futura-pt", futura, trebuchet, sans-serif;
        line-height: 1.25em; }

.blogCopy {
  width: 39.5em;
  height: 20em; }
  .blogCopy__image {
    background: #ccc;
    border: 1px solid #999;
    width: 100%;
    min-height: 31em;
    margin-bottom: .75em; }
  .blogCopy__cat {
    font: 300 1em "futura-pt", futura, trebuchet, sans-serif; }
  .blogCopy__title {
    font: 2.85em "Bebas Neue Bold", Helvetica, Arial;
    line-height: 1em; }
  .blogCopy__copy {
    font: 300 1em "futura-pt", futura, trebuchet, sans-serif;
    color: #231f20; }
    .blogCopy__copy p {
      display: block;
      margin-top: .75em; }
    .blogCopy__copy p + p {
      text-indent: 0; }
  .blogCopy__social {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 2em; }
    .blogCopy__social--loop {
      margin-top: 1em;
      display: inline-block;
      line-height: 2em;
      font: 300 0.85em "futura-pt", futura, trebuchet, sans-serif;
      border: 1px solid #e0e0e0;
      padding: .25em 1em;
      border-radius: 1em; }
  .blogCopy__share {
    padding-top: 1.5em; }
    .blogCopy__share__h4 {
      font: 1.15em "Bebas Neue Bold", Helvetica, Arial;
      text-transform: uppercase;
      margin-bottom: 1em; }
    .blogCopy__share__icons__icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 1em;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
      .blogCopy__share__icons__icon--facebook {
        background-image: url("../images/SVG/Facebook.png");
        background-image: url("../images/SVG/Facebook.svg"), linear-gradient(transparent, transparent); }
      .blogCopy__share__icons__icon--envelope {
        background-image: url("../images/SVG/Envelope.png");
        background-image: url("../images/SVG/Envelope.svg"), linear-gradient(transparent, transparent); }
      .blogCopy__share__icons__icon--twitter {
        background-image: url("../images/SVG/Twitter.png");
        background-image: url("../images/SVG/Twitter.svg"), linear-gradient(transparent, transparent); }
