@keyframes fade-in-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}



@keyframes fade-in-top {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-top-o75 {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: .75;
    }
}

@keyframes fade-in {
    100% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes movetothetop {
    0% {
        opacity: 0;
        top: 0;
    }
    40% {
        top: 0;
        opacity: 0;
    }
    100% {
        top: -100%;
        opacity: 1;
    }
}

@keyframes movefromthetop {
    0% {
        top: 0;
        opacity: 0;
    }
    40% {
        top: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 100%
    }
}

@keyframes arrow {
    0% {
        transform: translateY(0) rotate(-90deg);
    }
    40% {
        transform: translateY(0) rotate(-90deg);
    }
    45% {
        transform: translateY(-.5rem) rotate(-90deg);
    }
    50% {
        transform: translateY(-.5rem) rotate(-90deg);
    }
    100% {
        transform: translateY(0rem) rotate(-90deg);
    }
}
