$fontFolder: "fonts";
@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Bebas Regular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BEBAS___-webfont.woff') format('woff'), url('../fonts/BEBAS___-webfont.ttf') format('truetype'), url('../fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Futura Light Italic';
    src: url('../fonts/Futura-Light-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Futura-Light-Italic.woff') format('woff'), url('../fonts/Futura-Light-Italic.ttf') format('truetype'), url('../fonts/Futura-Light-Italic.svg#webfont') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Futura Bold Italic';
    src: url('../fonts/Futura-Bold-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Futura-Bold-Italic.woff') format('woff'), url('../fonts/Futura-Bold-Italic.ttf') format('truetype'), url('../fonts/Futura-Bold-Italic.svg#webfont') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Futura Bold';
    src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Futura-Bold.woff') format('woff'), url('../fonts/Futura-Bold.ttf') format('truetype'), url('../fonts/Futura-Bold.svg#webfont') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Futura Book Italic';
    src: url('../fonts/Futura-Book-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Futura-Book-Italic.woff') format('woff'), url('../fonts/Futura-Book-Italic.ttf') format('truetype'), url('../fonts/Futura-Book-Italic.svg#webfont') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Futura Book';
    src: url('../fonts/Futura-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Futura-Book.woff') format('woff'), url('../fonts/Futura-Book.ttf') format('truetype'), url('../fonts/Futura-Book.svg#webfont') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Futura Light';
    src: url('../fonts/Futura-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Futura-Light.woff') format('woff'), url('../fonts/Futura-Light.ttf') format('truetype'), url('../fonts/Futura-Light.svg#webfont') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Futura Medium Italic';
    src: url('../fonts/Futura-Medium-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Futura-Medium-Italic.woff') format('woff'), url('../fonts/Futura-Medium-Italic.ttf') format('truetype'), url('../fonts/Futura-Medium-Italic.svg#webfont') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Futura Medium';
    src: url('../fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Futura-Medium.woff') format('woff'), url('../fonts/Futura-Medium.ttf') format('truetype'), url('../fonts/Futura-Medium.svg#webfont') format('svg');
    font-weight: normal;
}
