// FONTS
$futuraR: 'Futura Book';
$futuraRI: 'Futura Book Italic';
$futuraL: 'Futura Light';
$futuraLI: 'Futura Light Italic';
$futuraM: 'Futura Medium';
$futuraMI: 'Futura Medium Italic';
$futuraR: 'Futura Bold';
$futuraBI: 'Futura Bold Italic';
$futuraM: 'Futura Medium';
$futuraMI: 'Futura Medium Italic';
$bebasNR: 'Bebas Neue Regular';
$bebasR: 'Bebas Italic';
// PADDING
$gutter: 7;
// COLORS
$mist: #929497;
$grey: #939598;
$purple: #333092;
$fuschia: #a54399;
$pink: #e64097;
$yellow: #ffef00;
$orange: #f78e1e;
$green: #73c167;
$cyan: #00aeef;
$navy: #003767;
$black: #000000;
$blue: #00A4EB;
