@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'), url('../fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$bebas: "Bebas Neue Bold",
Helvetica,
Arial;

$futura: "futura-pt",
futura,
trebuchet,
sans-serif;
$proxima: "proxima-nova",
"Gill Sans MT",
"Gill Sans",
Corbel,
Arial,
sans-serif;

// FONTS
$proximaThin: 100;
$proximaLight: 300;
$proximaRegular: 400;
$proximaMedium: 500;
$proximaSemibold: 600;
$proximaBold: 700;
$proximaExtra: 800;
$proximaBlack: 900;
$futuraLight: 300;
$futuraBook: 400;
$futuraMedium: 500;
$futuraDemi: 600;
$futuraHeavy: 700;
$futuraExtra: 800;
// PADDING
$gutter: 7;
// COLORS
$mist: #929497;
$grey: #939598;
$darkGrey: #231f20;
$purple: #333092;
$fuschia: #a54399;
$pink: #e64097;
$yellow: #ffef00;
$orange: #f78e1e;
$green: #73c167;
$cyan: #00aeef;
$navy: #003767;
$black: #000000;
$blue: #00A4EB;

